#main, footer {
  padding-left: 0px;
}

header .brand-logo {
  margin: 1px 3px;
    padding: 18.5px 0px;
}

header .brand-logo img {
  width: 45px;
  height: 49px;
}

#layouts-horizontal .sidebar-collapse {
 position: fixed;
    left: 10px;
    top: 28px;
    z-index: 999;
}

#ul-horizontal-nav > li > a {
  padding: 0 8px;
}

#horizontal-nav {
  height: 64px;
  margin-top: 100px;
  z-index: -1;
}

@media only screen and (min-width: 993px) {
  #content {
    margin-top: 0px;
  }
}

.doughnut-chart-status {
  top: -85px;
}

/*----------------------------------------
    Horizontal Menu
------------------------------------------*/
#horizontal-nav ul li {
  text-align: center;
}

#horizontal-nav ul li a i {
  height: 0px;
  line-height: 60px;
  font-size: 1rem;
}
#horizontal-nav ul li a i span{
 font-family: "Roboto", sans-serif !important;
}
#horizontal-nav ul li a span {
  position: relative;
}

#horizontal-nav .dropdown-menu span i {
  line-height: 65px;
}

.dropdown-horizontal-list li a {
  min-width: 150px;
  text-align: left;
  font-size: 1.0rem;
  padding: 10px;
  font-weight: 400;
}

/*IE Specific CSS */
@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  #horizontal-nav ul li {
    min-width: 110px;
  }
  #horizontal-nav .dropdown-menu span i {
    line-height: 0px;
    position: absolute;
    top: 10px;
    right: -20px;
  }
}
